
 /*STYLE HEADER*/
 .header{
     font-family: Roboto, sans-serif;
     color: #1d1f1d;
     font-size: 14px;
     line-height: 24px;
     font-weight: 500;
 }

 .header a{
     font-family: Roboto,sans-serif !important;
     color: #1d1f1d;
     /*font-size: 16px;*/
     /*line-height: 24px;*/
     /*font-weight: 300;*/
 }

.header-content{
    background-color: #e8f0e9;

}

.header-top-contacts{
    padding: 0;
}

.header-top-social{
    padding: 0!important;
}

.header-content-left{
    padding: 10px 0px 10px 0px;
    margin: auto 0;
    align-items: center;
    display: flex;
    height: 62px;
    justify-content: flex-start;
}

 .header-content-left-logo{
     color: #1d1f1d;
     margin: auto 0;
     padding: 0px;
     min-height: 16px;
     /*z-index: 1;*/
     vertical-align: middle;
     display: inline-block;
 }

 .header-content-left-header{
     margin: auto 0px;
     display: inline-block;
     padding-left: 10px;
     font-size: 22px !important;
 }

.header-content-right{
    margin: auto 0;
    padding: 0px!important;
    color: #1d1f1d;
    float: right;
    height: inherit;
    vertical-align: middle;
}

.header-content-right-nav{
    align-items: center;
    display: flex;
    height: 62px;
    justify-content: flex-end;
    list-style: none;
    margin: 0px 0px 0px 10px;
}

.g-theme-block-0{
    color: #1d1f1d;
    background: #fff;
}

.g-color-text-header{
    color: #289e2e;
}

.icon-widget-span{
    /*margin: auto 0;*/
    /*display: flex;*/
    vertical-align: middle;
}

.icon-size-30 {
    width: auto;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
}

.ul-widget {
    z-index: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 15px 0!important;
}
